@import "../../asset/css/util";

.integrated-page {
  .bg-img{
    img{
      transform: translateZ(0);
      width: 100%;
      height: inherit;
      position: absolute;
      transition: all 2s ease 13s;
    }
  }
  .bg {
    background-color: rgba(0, 0, 0, 0.2);
    .text-content {
      width: 100%;
      position: absolute;
      top: 7.3rem;
      color: #2d282a;
      box-sizing: border-box;
      padding: .3rem .5rem;
      font-size: 0.35rem;
    }
  }
  .no-see{
    opacity: 0;
  }
  .delete-text{
    text-decoration: line-through;
  }
  #garden{
    position: fixed;
    top: 0.2rem;
    width: 100%;
    height: 6.8rem;
  }
}