@import "../../asset/css/util";

.call-page {
  .bg {
    background-color: rgba(0, 0, 0, 0.25);
  }
  .img-line-1 {
    position: absolute;
    width: 1.9rem;
    height: 1.9rem;
    bottom: 3.32rem;
  }
  .tip {
    left: 1.03rem;
  }
  .message {
    right: 1.05rem;
  }
  .img-line-2 {
    position: absolute;
    width: 1.83rem;
    height: 1.83rem;
    bottom: 0.90rem;
  }
  .refuse {
    left: 1.05rem;
  }
  .answer {
    right: 1rem;
    @include animation(call-answer-animation 2s infinite);
  }

  /*接听按钮动画*/
  @keyframes call-answer-animation {
    20% {
      @include transform(scale(1.1) rotate(0deg))
    }
    30% {
      @include transform(scale(1.1) rotate(10deg))
    }
    40% {
      @include transform(scale(1.1) rotate(-10deg))
    }
    50% {
      @include transform(scale(1.1) rotate(10deg))
    }
    60% {
      @include transform(scale(1.1) rotate(-10deg))
    }
    70% {
      @include transform(scale(1.1) rotate(10deg))
    }
    80% {
      @include transform(scale(1.1) rotate(-10deg))
    }
    90% {
      @include transform(scale(1.1) rotate(10deg))
    }
  }
}