@import "../../asset/css/util";

.dialing-page {
  .dialing-item {
    position: absolute;
    width: 100%;
    @include transform(translateX(6.4rem));
    p {
      position: absolute;
      font-size: 0.4rem;
      font-family: FZKaTong;
      top: 0.02rem;
      left: 0.55rem;
      color: rgb(51, 51, 51);
    }
    img {
      width: 100%;
    }
  }
  .dialing-item-1 {
    top: 1.2rem;
    @include animation(dialing-item-animate 0.6s 0.2s ease-out forwards);
  }

  .dialing-item-2 {
    top: 2.5rem;
    @include animation(dialing-item-animate 0.6s 0.4s ease-out forwards);
  }

  @keyframes dialing-item-animate {
    from {
      @include transform(translateX(6.4rem));
    }
    to {
      @include transform(translateX(0));
    }
  }
  .return {
    position: absolute;
    bottom: 0;
    right: 0.2rem;
  }
}