@import "../../asset/css/util";

.bless {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  background-color: rgba(51, 51, 51, 0.53);
  opacity: 0;
  @include animation(bless-animate 0.3s ease-in-out forwards);
  @keyframes bless-animate {
    0% {
      @include transform(scale(1));
      opacity: 0;
    }
    100% {
      @include transform(scale(1));
      opacity: 1;
    }
  }
  .top-box {
    height: 17%;
    width: 100%;
    .left-box {
      width: 80%;
      height: 100%;
      float: left;
      .bless-name {
        box-sizing: border-box;
        //margin-top: 1%;
        height: 40%;
        width: 100%;
        border: none;
        background-color: rgba(255, 255, 255, 0.8);
        font-size: 0.4rem;
        padding: 0 0.1rem;
        border-right: 1px solid #ccc;
        border-radius: 0;
      }
      .bless-num {
        box-sizing: border-box;
        //margin-top: 1%;
        height: 30%;
        width: 40%;
        border: none;
        background-color: rgba(255, 255, 255, 0.8);
        font-size: 0.4rem;
        border-radius: 0;
        color: #757575;
      }
      .bless-text {
        box-sizing: border-box;
        font-size: 0.4rem;
        height: 60%;
        width: 100%;
        border: none;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 0.1rem;
        resize: none;
        border-radius: 0;
        //border-top: 1px solid #ccc;
      }
    }
    .right-box {
      color: white;
      width: 20%;
      height: 100%;
      float: left;
      font-size: 0.4rem;
      text-align: center;
      .commit {
        width: 100%;
        height: 57%;
        background-color: #d73435;
        opacity: 0.9;
        line-height: 57%;
        //margin-top: 4%;
        display: table;
        p {
          display: table-cell;
          vertical-align: middle;
        }
      }
      .close {
        width: 100%;
        height: 43%;
        background-color: #555;
        opacity: 0.9;
        display: table;
        p {
          display: table-cell;
          vertical-align: middle;
        }
      }
    }
  }
  .bottom-box {
    width: 100%;
    height: 80%;
    overflow-y: scroll;
    margin-top: 2.6rem;
    .bless-item {
      word-wrap: break-word;
      word-break: break-all;
      margin-bottom: 0.45rem;
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 6px;
      padding: 0.2rem;
      color: gray;
      text-shadow: none;
      font-size: 0.35rem;
      width: 65%;
    }
    .bless-item-left {
      margin-left: 0.2rem;
      float: left;
    }
    .bless-item-right {
      margin-right: 0.2rem;
      float: right;
    }
    .name-label {
      color: #555;
      line-height: 0.6rem;
    }
  }
}