@import "../../asset/css/util";

.wechat-page {
  background-color: #f2f2f2;
  .return {
    position: absolute;
    bottom: 0;
    right: 0.20rem;
  }
  .item-box{
    padding-top: 1rem;
  }
  .wechat-item {
    position: relative;
    width: 100%;
    height: 1.5rem;
    background-size: cover;
    .wechat-item-avatar {
      position: absolute;
      width: 1.2rem;
      height: 1.2rem;
      top: 0.15rem;
      left: 0.2rem;
      padding-left: 0.1rem;
    }
    .wechat-item-text {
      color: rgb(127, 127, 127);
      font-size: 0.3rem;
      font-family: FZKaTong;
      position: absolute;
      height: 1.5rem;
      transform: rotate(0deg);
      left: 1.5rem;
      width: 4.17rem;
      opacity: 0;
      img {
        height: 1rem;
        top: 0.25rem;
        left: 0.45rem;
        position: absolute;
        transform: scale(1.15);
      }
      p {
        position: absolute;
      }
      .top-text {
        top: 0.21rem;
      }
      .bottom-text {
        top: 0.57rem;
      }
      .middle-text {
        top: 0.38rem;
      }
    }
    .wechat-item-animate-1 {
      @include animation(wechat-item-animate 0.6s 0.2s ease-out forwards);
    }
    .wechat-item-animate-2 {
      @include animation(wechat-item-animate 0.6s 0.7s ease-out forwards);
    }
    .wechat-item-animate-3 {
      @include animation(wechat-item-animate 0.6s 1.2s ease-out forwards);
    }
    @keyframes wechat-item-animate {
      from {
        opacity: 1;
        @include transform(translateX(6.40rem));
      }
      to {
        opacity: 1;
        @include transform(translateX(0rem));
      }
    }
  }
  .bottom-bar {
    font-size: 1.05rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1.1rem;
    background-color: #f2f2f2;
    border: 1px solid #e6e8e7;
    .voice {
      height: 60%;
      margin-left: 0.3rem;
      margin-bottom: .25rem;
    }
    .input {
      display: inline-block;
      height: 75%;
      width: 60%;
      border-radius: 3px;
      border: 1px solid #e6e8e7;
      margin-left: 0.2rem;
      background-color: white;
      margin-bottom: .15rem;
      margin-top: .1rem;
    }
    .smile, .plus {
      height: 60%;
      margin-left: 0.2rem;
      margin-bottom: .25rem;
    }
  }
}