@import "../../asset/css/util";

.talk-page {
  .bg {
    background-color: rgba(0, 0, 0, 0.56);
  }
  .function {
    position: absolute;
    left: 0.2rem;
    width: 7.5rem;
    bottom: 1.5rem;
  }
  .hung-up {
    position: absolute;
    width: 2.1rem;
    height: 2.1rem;
    left: 50%;
    margin-left: -1.05rem;
    bottom: 1.5rem;
  }
  .count-down-title {
    width: 100%;
    text-align: center;
    line-height: 1.5;
    color: white;
    font-size: 0.62rem;
    font-family: FZKaTong;
    position: absolute;
    top: 1.1rem;
  }
  .count-down-time {
    width: 100%;
    text-align: center;
    font-size: 0.4rem;
    color: white;
    position: absolute;
    top: 2.2rem;
  }
}